<html>
    <body>
        <h1>LogIn</h1>
       <form action = "/login" method = "POST" enctype="multipart/form-data">
          Full Name: <input type = "text" name = "full_name"><br>
          User Name: <input type = "text" name = "user_name"><br>
          Password: <input type = "password" name = "password"><br>
          <input type = "submit" value = "Submit">
       </form>
    </body>
 </html>
