<form action="/signup" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
    </div>
    <div>
        <label>DisplayName:</label>
        <input type="text" name="displayName"/><br/>
        </div>
	<div>
    <div>
        <label>Email:</label>
        <input type="text" name="emails"/><br/>
    </div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
